#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(0,0,0,0.8);
  z-index: 9999;
  background-image: url(../images/loading.svg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: center;
}
#loading::after {
  font-weight: bold;
  color: white;
  content: "Carregando";

  position: absolute;
  top: 45%;
  text-align: center;
  margin-top: -0.5em;
  /* force content to always be a single line */
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}