body {
  margin: 0px!important;
}
.login {
  height: 100%;
}
.display-page {
  margin-top: 100px;
}
.waves-effect.subitem.active {
  color: #ffffff!important;
  font-weight: 700!important;
}
.list-usuarios .badge {
  font-size:10px;
}
.va-bottom {
  vertical-align: bottom!important;
}
.list-badges .form-check-input[type=radio]:not(:checked)+label, .list-badges .form-check-input[type=radio]:checked+label {
  padding-left: 27px!important;
}