html { visibility: hidden;}
header, main, footer, .display-page, .breadcrumb-dn {
  padding-left: 195px;
}

body {
  margin-bottom: 55px;
  background: #f4f4f4
}

#modal-page .modal-content {
  background-color: transparent;
  box-shadow: none;
}

.container.index {
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
}

.pattern-7 {
  background: url(../img/overlays/07.png) fixed rgba(0,0,0,0.5)!important;
}

/* HEADER */
.btn-next {
  font-size: 70px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.btn-next a, .btn-next a:hover {
  color: #fff;
}
.black-bar {
  height: 10px;
  background-color: #3a3a3a;
}
.header {
  /* background-image: linear-gradient(170deg, rgb(53, 116, 199),  rgb(97, 169, 190)); */
  /* height: 180px; */
  color: #fff;
}
.bracket {
  font-size: 400px;
  line-height: 380px;
  color: #fff;
  font-weight: 900;
}
.bracket-old {
  font-size: 150px;
  line-height: 180px;
  font-weight: 900;
  background-image: url(../images/bg.jpg);
  color: transparent;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-clip: text;
}
.header  h1 {
  font-size: 75px;
  font-weight: 800;
}
.header h2 {
  font-weight: 700;
}
.header .btn-contato {
  /* margin: 10px 50px; */
  min-width: 200px;
  background-color: #3a3a3a;
  color: #fff;
  font-size: 13px!important;
  padding: 8px 40px 8px 25px;
  border-radius: 55px;
  text-decoration: none;
}
.header .btn-contato:hover  {
  background-color:  #e5e5e5;
  text-decoration: none;
  color: #000;
}
.header .btn-contato i {
  font-size: 18px!important;
  padding-right: 25px;
  vertical-align: middle;
}
.parallax {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flex-mod {
  align-items: start!important;
}
/* /HEADER */


/* nav-stick */
.nav-stick {
  background-image: linear-gradient(170deg, rgb(53, 116, 199),  rgb(97, 169, 190));
  height: 55px;
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 999;
  /* display: none; */
}
.nav-stick .row {
  height: 55px;
}
.nav-stick h1 {
  font-weight: 800;
  margin-bottom: 0;
}
.nav-stick .btn-contato {
  background: url(../images/bg.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  padding: 0;
}
.nav-stick .btn-contato:hover {
  color: #fff;
}
.nav-stick .btn-contato div {
  background-color: rgba(0,0,0,.4);
  padding: 5px 20px!important;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
}
.nav-stick .btn-contato div:hover {
  color: #fff;
}
.nav-stick .btn i {
  font-size: 30px;
  padding-left: 10px;
  vertical-align: middle;
}
/* /nav-stick */


/* list-projetos */
.img-list {
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
}
.list-projetos .badge-danger {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 30px;
  margin-bottom: 65px;
  padding: 5px;
}
/* /list-projetos */


@media only screen and (max-width: 1100px) { 
  .bracket {
    font-size: 200px;
  }
}

@media only screen and (max-width: 800px) { 
  .bracket {
    display: none;
  }
}

@media only screen and (max-width: 1470px) {
  header, main, footer, .display-page, .breadcrumb-dn {
    padding-left: 0px!important;
  }
}